{% extends 'sidebar.html.twig' %}
{% block  stylesheet %}
    <link rel="stylesheet" href={{ asset('styles/applicants.css') }}>
{% endblock %}

{% block main %}
    {% for app in users %}
        {% if 'ROLE_ADMIN' in app.roles %}
        {% set role = 'admin' %}
        {% else %}
        {% set role = 'user' %}
        {% endif %}
        <div class="card">
            <div class="infocard">
                <h1 class="titlecard">
                    {{ app.fullName }}
                </h1>
                <p>
                </p>
                <p class='description'>
                    {{ app.email }}<br>Type:
                    {{ role }}
                </p>
                <p class="tagcard">experience : #
                    {% for a in app.ExperienceArray %}
                        {{ a }} years #
                    {% endfor %}
                </p>
                <a href={{ path('app_admin_user_delete', { id:app.id}) }}> <button type="button" class="actioncard delete ">delete
                    </button></a>
                <a href={{ path('app_admin_user', {id:app.id}) }}> <button type="button" class="actioncard">make admin
                    </button></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}