<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel='stylesheet' href={{ asset('styles/sidebar.css') }} />
    {% block stylesheet %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={{ asset('pics/logo.svg') }}>
    <script src = "{{ asset('scripts/sidebar.js') }}" type="module" defer></script>
    <title>tanit</title>
</head>

{% set arr = {
    'home': '',
    'history': '',
    'new': '',
    'message': '',
    'admin': '',
    'settings': ''
} %}
{% set arr = arr|merge({ (var) : 'active'}) %}
<body>
<header>
    {% block header %}
    {% endblock %}
</header>
<nav class='sidebar'>
    <div class="sidebar-header">
        <a class="logo-wrapper">
            <img src="{{ asset('pics/logo.svg') }} " alt="Logo">
            <h2 class="hidden">LOGO</h2>
        </a>
        <button class="toggle-btn">
            <img src="{{ asset('pics/expand.svg') }}" alt="expand button">
        </button>
    </div>
    <div class="sidebar-links">
        <a class="link {{ arr['home'] }}" href='{{ path("app_home") }}'>
            <img src="{{ asset('pics/home.svg') }}" alt="">
            <span class="hidden">Home</span>
        </a>
        <a class="link {{ arr['history'] }}" title='History' href='{{ path("app_history") }}'>
            <img src="{{ asset('pics/history.svg') }}" alt="history">
            <span class="hidden">History</span>
        </a>

        <a class="link {{ arr['new'] }}" title='new post' href='{{ path("app_new") }}'>
            <img src="{{ asset('pics/new.svg') }}" alt="new post">
            <span class="hidden">New Post</span>
        </a>
        <a class="link {{ arr['message'] }}" title='Messages' href='{{ path("app_message") }}'>
            <img src="{{ asset('pics/message.svg') }}" alt="messages">
            <span class="hidden">contact us</span>
        </a>

        {% if admin == true %}
        <a class="link {{ arr['admin'] }} " title='Admin Dashboard' href='{{ path("app_admin") }}'>
            <img src="{{ asset('pics/admin.svg') }}" alt="messages">
            <span class="hidden">admin dash</span>
        </a>
        {% endif %}
    </div>
    <div class="sidebar-bottom">
        <div class="sidebar-links">
            <a class="link {{ arr['settings'] }} " title='Settings' href='{{ path("app_settings") }}'>
                <img src="{{ asset('pics/settings.svg') }}" alt="">
                <span class="hidden">Settings</span>
            </a>
        </div>

        <div class="user-profile">
            {% if (mail == '') %}
            <a class="user-avatar" title='login' id="settings" href="{{ path('app_login') }}">
                <img src="{{ asset('pics/default.jpg') }}" alt="">
            </a>
            {% else %}
            <a class="user-avatar" title='logout' id="settings" href="{{ path('app_logout') }}">
                <img src="{{ asset('pics/default.jpg') }}" alt="">
            </a>
            {% endif %}
            <div class="user-details hidden">
                <p title='{{ name }}' class="username">
                    {{ name }}
                </p>
                <p title='{{ mail}}' class="user-email">
                    {{ mail }}
                </p>
            </div>
        </div>
    </div>
</nav>
<div class='main'>
    {% block main %}
        <h1>idk</h1>
    {% endblock %}
</div>
</body>

</html>