{% extends 'Sidebar.html.twig' %}

{% block stylesheet %}
    <link rel='stylesheet' href={{ asset('styles/history.css') }} />
{% endblock %}
{% block main %}
    <ul>
        {% for job in jobs %}
            <li>
                <div class="card">
                    <div class=" headercard {{ job.state }}card ">
                        <h1>
                            {{  job.state }}
                        </h1>
                    </div>
                    <div class="infocard">
                        <p class="titlecard">
                            {{  job.name }}
                        </p>
                        <p>
                        <h4>Price : </h4>
                        {{  job.price }}
                        <h4> $</h4>
                        </p>
                        <p>
                            {{  job.description|slice(0, 100)}}...
                        </p>
                    </div>
                    <div class="footercard">
                        <p class="tagcard">#
                            {{  job.getExperience()[0].name }}>={{  job.getExperience()[0].years }}
                            #{{  job.getExperience()[1].name }}>={{  job.getExperience()[1].years }}
                        </p>
                        <a href={{ path('app_details', {id:job.id}) }}><button type="button" class="actioncard">Details
                            </button></a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}